body>header{
    background-color: gray;
}    
*{
        margin: 0;
        background-color: gray;
        box-sizing: border-box;
    }
div{
    color: white;
    float: left;
    height: 80px;
    text-align: center;
    margin-top:15px;
    font-size: larger;;
    background-color: gray;
        }
        #logo{
            width: 20%;
            background-color: blue;
            margin-left: 25px;
        }
        #menu{
            width: 48%;
            background-color: blue;
            margin-left: 25px;
        }
        #login{
            width: 25%;
            background-color: blue;
            margin-left: 25px;
        }
        header{
            text-align: left;
        }
        #rodape1{
            margin-left: 27px;
        }
        #rodape1, #rodape2, #rodape3, #rodape4{
            float: left;
            width: 24%;
            height: 80px;
            background-color: green;
            border: 3px solid pink;
            padding: 28px;
            box-sizing: border-box;
            text-align: center;
        }
    main{
        background-color: gray;
        height: 743px
        }
    main>#Banner{
        height: 404px;
        width:60%;
        border:2px solid blue;
        background-image: url(blackhole.jpg);
        background-color: gray;
        float:right;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 33px;
        }
    section{
        float: left;
        text-align: center;
        }
        #Conteudo1{
            background-color: rebeccapurple;
            width:31%;
            height:200px;
            font-size: x-large;
            padding-top: 78px;
            box-sizing: border-box;
            border: 2px solid blue;
            margin-left: 20px;
        }
        #Conteudo2{
            background-color: rebeccapurple;
            width: 31%;
            height:200px;
            font-size: x-large;
            padding-top: 78px;
            box-sizing: border-box;
            border: 2px solid blue;
            margin-left: 10px;
        }
        #Conteudo3{
            background-color: rebeccapurple;
            width:33.5%;
            height:200px;
            font-size: x-large;
            padding-top: 78px;
            box-sizing: border-box;
            border: 2px solid blue;
            margin-left: 10px;
            margin-right: px;
        }
        #Título\ do\ banner{
            margin-top: 200px; margin-left:80px;
            float: left;
        }
    footer{
        background-color:blue;
        text-align: center;
    }

